.newCar_container {
  width: 100%;
}

.inner-newCar {
  display: flex;
  flex-direction: column;
  padding: 50px;
  width: 100%;
}

.all-newCar {
  display: flex;
  gap: 20px;
}

.newCar_container .image-box {
  width: 70%;
  height: auto;
}

.newCar_container .image-box img {
  width: 100%;
}

.newCar_container .all-text-box {
  width: 30%;
}

.newCar_container .title-x-desc {
  text-align: right;
}

.newCar_container .desc-text {
  font-size: 12px;
}

.newCar-table-container {
  margin-top: 30px;
}

.newCar-model {
  font-size: 12px;
  margin: 10px 0;
}

.newCar-table {
  width: 100%;
  font-size: 12px;
  border-collapse: collapse;
}

.newCar-table-container .table-left-text {
  padding: 0 0 0 10px;
}

.newCar-table-container .table-right-text {
  float: right;
  padding: 0 10px 0 0;
}

.newCar-table-row {
  width: 100%;
  height: 30px;
}

.newCar-table-row:nth-child(even) {
  background-color: #fff;
}

.newCar-table-row:nth-child(odd) {
  background-color: #f3f3f3;
}

.newCar_container .price-box {
  margin: 20px 0 0 0;
  text-align: right;
}

.newCar-amount {
  font-size: 40px;
}

.newCar_container .back-button {
  position: relative;
}

.newCar-reserve-btn {
  /* width: fit-content; */
  margin-top: 50px;
  display: flex;
  align-items: center;
  padding: 15px 25px;
  border: 0;
  border-radius: 30px;
  background: #97bf0f;
  color: #fff;
  align-self: flex-end;
  cursor: pointer;
}

#newcar-make {
  font-size: 1.5em;
  font-weight: bold;
  width: 100%;
}

#newcar-price {
  font-size: 40px;
  width: 80%;
}

.newCar-table-row input {
  width: 50%;
}

textarea {
  resize: vertical;
  width: 100%;
}

@media (max-width: 600px) {
  .newCar_container {
    margin-top: 50px;
  }

  .inner-newCar {
    padding: 20px;
  }

  .all-newCar {
    flex-direction: column;
  }

  .newCar_container .image-box {
    width: 100%;
  }

  .newCar_container .all-text-box {
    width: 100%;
  }

  .newCar_container .back-button {
    margin: 30px 0 70px 0;
  }
}
